APP_ENV="development"
APP_NAME="آی مووی"
VITE_APP_NAME="آی مووی"
APP_URL=http://localhost:5000
APP_SESSION_PASSWORD=

DATABASE_URL="postgresql://username:password@localhost:5432/imovie_db"

BETTER_AUTH_BASE_URL=http://localhost:5000
BETTER_AUTH_SECRET=

REDIS_URL=redis://localhost:6379
